$secondary-color: #002b3d;
$primary-color: #45bcc9;

// General elements

html {
  font-family: sans-serif;
}

.btn {
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  box-shadow: none;
  border: 1px solid $primary-color;
  color: white;
  background-color: $primary-color;
  line-height: 1.4em;
  min-width: fit-content;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &:active {
    box-shadow: 0px 0px 2px 2px $primary-color;
  }
}

.btn-white {
  background-color: white;
  color: #45bcc9;
  font-weight: bold;
  border-color: white;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &:active {
    box-shadow: 0px 0px 2px 2px $secondary-color;
  }
}

.btn-dark {
  background-color: $secondary-color;
  color: white;
  font-weight: bold;
  border-color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &:active {
    box-shadow: 0px 0px 2px 2px $secondary-color;
  }
}


// States

// Main
#main-body {
  background-color: $secondary-color;
  color: $primary-color;
}

// Home
#home-state {
  .page-title {
    text-align: center;
  }

  .user-wrap {
    margin: 0 auto;
  }

  .user {
    min-width: fit-content;
    color: white;
    border: none;
    background-color: $primary-color;
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto 0.5em auto;
    width: 18em;
    position: relative;
    float: left;
    margin: 1em;
    display: block;
    font-size: 18px;
    line-height: 1.4em;

    .lbl-name {
      text-align: center;
      font-size: larger;
      font-weight: bolder;
      margin-bottom: 1em;
      background-color: white;
      color: $primary-color;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      border-radius: 7px;
    }

    .address {
    margin-top: 0.5em;
    border-top: 1px solid white;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    }

    span {
      font-weight: bold;
    }

    .btn-row {
      text-align: center;
      padding: 5px;
      margin-top: 1em;

      .btn {
        padding: 0.5em 2em;
        font-size: large;
      }
    }
  }
}

// Album

#album-state {
  .title {
    text-align: center;
  }

  .container {
    max-width: fit-content;
    width: 45%;
    border: double;
    border-radius: 10px;
    margin: 0 auto;
    background-color: $primary-color;

    .album-item {
      margin: 1px;
      width: auto;
      text-align: left;
      background-color: $primary-color;
      border-radius: 10px;

      .btn {
        padding: 0.5em 1em;
        font-size: 18px;
        text-align: left;
        width: 100%;
        background-color: $secondary-color;
        border-radius: 10px;

        &:first-letter {
          text-transform: capitalize;
        }

        &:hover {
          background-color: $primary-color;
          border-color: $secondary-color;
        }
      }
    }
  }
}

#photo-state {
  .title {
    text-align: center;
  }
  .photo {
    position: relative;
    float: left;
    margin: 0.5em;
    width: 30%;
    min-width: 300px;
    text-align: left;
    background-color: $primary-color;
    border-radius: 10px;
    border: none;
    height: 160px;

    .photo-item {
      .photo-txt {
        position: relative;
        float: left;
        word-break: break-word;
        color: $secondary-color;
        font-size: 18px;
        font-weight: bold;
        width: 20em;
      }

      .photo-img {
        width: 150px;
        float: right;
        border-radius: 9px;
        margin: 0;
      }
    }
  }
}